<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <h3>Experience the World Through Cuisine</h3>
      <a class="home" href="/">home</a>
      <a class="login" href="auth/google">Login</a>
