<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <h3>Experience the World Through Cuisine</h3>
    <!-- <a class="home" href="/home" <%= name === 'Home' ? 'class="active"' : '' %>>Home</a> -->
  </head>
  <body>
    <nav>
      <a class="login" href="auth/google">Login</a>
