<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <h3>Experience the World Through Cuisine</h3>
  </head>
  <body>
    <nav>
      <a class="login" href="auth/google">Login</a>
      <nav>
        <a href="/cultures/new">Add Culture</a>
        |
        <a href="/cultures">All Culture</a>
      </nav>
    </nav>
    <main>
      <div>
        <h1>Culture Cookbook</h1>
        <p>The Most Delicious Recipes Around the World</p>
        <a class="tour-culture" href="/">Tour Cultures</a>
      </div>
