<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
    <nav class="header">
      <h3>Experience the World Through Cuisine</h3>
      <a class="home" href="/">Home</a> 
      |
      <a class="all-cultures-home" href="/cultures">All Cultures</a>
      <% if (user) { %>
        <a class="logout" href="/logout">Log Out</a>
      <% } else { %>
        <a class="login" href="auth/google">Login</a>
      <% } %>
    </nav>
