<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <nav>
      <h3>Experience the World Through Cuisine</h3>
      <a class="login" href="auth/google">Login</a>
    </nav>
  </head>
  <body class="home-page">
    <main>
      <div class="home">
        <h1>Culture Cookbook</h1>
        <p>The Most Delicious Recipes Around the World</p>
        <a class="tour-culture" href="/cultures">Tour Cultures</a>
      </div>


<%- include('./partials/footer') %>