<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <nav>
      <h3>Experience the World Through Cuisine</h3>
      <% if (user) { %>
        <a class="logout" href="/logout">Log Out</a>
      <% } else { %>
        <a class="login" href="auth/google">Login</a>
      <% } %>
    </nav>
  </head>
  <body class="home-page">
    <main>
      <div class="home">
        <h1 id="p">Culture Cookbook</h1>
        <p><strong>Most Delicious Recipes Around the World</strong></p>
        <a class="tour-culture" href="/cultures">Tour Cultures</a>
      </div>


<%- include('./partials/footer') %>