<%- include('../partials/header') %>

<h2>Enter A New Culture</h2>
<form id="add-culture-form" action="/cultures" method="POST">
  <label>Culture:</label>
  <input type="text" name="name">
  <label>Picture URL:</label>
  <input type="text" name="image">
  <br><br>
  <button type="submit" >Add Culture</button>
</form>

<%- include('../partials/footer') %>