<%- include('../partials/header') %>

<section id="show-page">
    <div>Culture: </div>
    <div><%= culture.name %></div>
    <br>
    <div>Image: </div>
    <div><%= culture.image %></div>
</section>

<%- include('../partials/footer') %>