* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 50px;
}

a {
  color: rgb(24, 5, 233);
}

.login, .logout {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: crimson;
}

h3 {
  color: crimson;
}

.home-page {
  height: 85vh;
  background-image: url('https://i.imgur.com/7bPvqQd.png');
  background-size: cover;
  background-position: center;
}

.home {
  margin-top: 20vmin;
  text-align: center;
}

h1 {
  color: blue;
}

p, #p {
  color: white;
text-shadow: 1px 1px black;
}

.tour-culture {
  text-decoration: none;
  font: menu;
  display: inline-block;
  padding: 2vmin, 8vmin;
  background: ButtonFace;
  color: crimson;
  border-style: solid;
  border-width: 2vmin;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
  text-align: center;
}

.tour-culture:active {
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

body {
  background-color: beige;
}

.new-recipe {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* width: 80vw; */
}

#recipe-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#row-1, .lld {
  display: flex;
  justify-content: space-evenly;
}

#recipe-image {
  text-align: center;
}

#ingredients, #description {
  width: 30vw;
  padding: 2vmin;
}

#top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-start;
}

#mid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75vw;
}

#add {
  width: 25vw;
  margin-left: 50vmin;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  justify-content: center;
}

.container {
  box-shadow: 0px 2px 8px 0px lightgray;
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  margin: 3rem 1rem;
  height: 42vmin;
  width: 40vmin;
}

.image {
  height: 40vmin;
  width: 40vmin;
}