* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 50px;
}

a {
  color: rgb(24, 5, 233);
}

.login, .logout {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: crimson;
}

h3 {
  color: crimson;
}

.home-page {
  height: 85vh;
  background-image: url('https://i.imgur.com/ABrxC3Yl.jpg');
  background-size: cover;
  background-position: center;
}

.home {
  margin-top: 20vmin;
  text-align: center;
}

h1 {
  color: white;
}

p {
  color: white;
}

.tour-culture {
  text-decoration: none;
  font: menu;
  display: inline-block;
  padding: 2vmin, 8vmin;
  background: ButtonFace;
  color: crimson;
  border-style: solid;
  border-width: 2vmin;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
  text-align: center;
}

.tour-culture:active {
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

body {
  background-color: beige;
}

#c-img, #r-img {
  height:400px;
  width:400px;
  position:relative;grid-template-columns: 2;
}

#image, #r-image {    
  position:absolute;
  left:0;
  top:0;
}

#text, #r-text {
  z-index:100;
  position:absolute;    
  color:blue;
  font-size:24px;
  font-weight:bold;
  top: 40%;
}

.new-recipe {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#recipe-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#row-1 {
  display: flex;
  justify-content: space-evenly;
}

#recipe-image {
  text-align: center;
}

#ingredients, #description {
  width: 30vw;
  padding: 2vmin;
}

#top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

#mid-row {
  display: flex;
  flex-direction: row;
}