* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 50px;
  font: 14px;
}

a {
  color: rgb(24, 5, 233);
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: crimson;
}

h3 {
  color: crimson;
}

.home-page {
  height: 85vh;
  background-image: url(https://i.imgur.com/MpzzOhTm.jpg);
  background-size: cover;
  background-position: center;
}

.home {
  text-align: center;
  color: red;
}

.tour-culture {
  text-decoration: none;
  font: menu;
  display: inline-block;
  padding: 2vmin, 8vmin;
  background: ButtonFace;
  color: crimson;
  border-style: solid;
  border-width: 2vmin;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
  text-align: center;
}

.tour-culture:active {
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

#add-culture-form {
  background-color: chocolate;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
}