<%- include('../partials/header') %>

<h2>Enter a New Recipe</h2>
<form class="new-recipe" action="/cultures/<%= cultureId %>/recipes" method="POST">
    <section id="top-row">
    <div id="name"><label>Name:</label></div>
    <div><input type="text" name="name"></div>
    <div id="img-url"><label>Image URL:</label></div>
    <div><input type="text" name="image"></div>
    </section>
    <br><br>
    <section id="mid-row">
    <div id="descrip"><label>Description:</label>
    <br>
    <textarea name="description" id="details" cols="30" rows="10"></textarea></div>
    <div id="ing"><label>Ingredients:</label>
    <br>
    <textarea name="ingredients" id="details" cols="30" rows="10"></textarea></div>
    <div id="direct"><label>Directions:</label>
    <br>
    <textarea name="directions" id="details" cols="30" rows="10"></textarea></div>
    </section>
    <br><br>
    <button id="add" type="submit">Add Recipes</button>
</form>


<%- include('../partials/footer') %>